<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excluir_endereco</title>
</head>
<body>
    
    <h1>Endereço Cadastrado</h1>
    <p><b>Número:</b> {{ endereco.numero }}</p>
    <p><b>Complemento:</b> {{ endereco.complemento }}</p>
    <p><b>Bairro:</b> {{ endereco.bairro }}</p>
    <p><b>Cidade:</b> {{ endereco.cidade }}</p>
    <p><b>Estado:</b> {{ endereco.estado }}</p>
    <p><b>CEP:</b> {{ endereco.cep }}</p>
    

</body>
</html>